.table-container {
    width: 60%;
    margin-top: 40px;
}

table {
    width: 100%;
}

th {
    background-color: #333;
    color: wheat
}

th, td {
    text-align: center;
    padding: 5px;
  }

.order-icon {
    float: right
}

tr:nth-child(even){background-color: #f2f2f2}